*.idea
__pycache__
mdds_env
logs
*.log
node_modules
mdds-tests/e2e/env.json
mdds-tests/e2e/output/
.sonar_token
target/
mdds_grpc_core/generated
*.iml
mdds-web-server/src/main/resources/static/
.coverage
*.egg-info/
build/
