# Copyright (c) 2025 Oleksiy Oleksandrovych Sayankin. All Rights Reserved.
# Refer to the LICENSE file in the root directory for full license details.

# Install development dependencies
pylint
pycodestyle
ruff
wheel
pandas
python-multipart
pytest
black
pyyaml
requests
pika
redis
pytest-cov
coverage
testcontainers-minio
